<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226784220277-0ip6692bb18k8ioimvq21m59otun30be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226784220277-0ip6692bb18k8ioimvq21m59otun30be</string>
	<key>API_KEY</key>
	<string>AIzaSyBw_InFB5TSobBIbQlrgrJU67hE8Iim3Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>226784220277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexushub.coacting</string>
	<key>PROJECT_ID</key>
	<string>nexushub-coacting</string>
	<key>STORAGE_BUCKET</key>
	<string>nexushub-coacting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226784220277:ios:999f0e1fc9574e2723543c</string>
	<key>DATABASE_URL</key>
	<string>https://nexushub-coacting.firebaseio.com</string>
</dict>
</plist>